*{
	margin:0px;
	padding: 0px; 
	font-family: verdana;
}
#main{
	width: 100%;
	height: 100vh;/*vertical height*/
	background-image: url(C:/Users/mohan/OneDrive/Desktop/youtube/Software-copy.jpg);
	background-size: cover;
	background-attachment: fixed;
}
nav{
	width: 100%;
	height: 80px;
	background-color: black;
	position:fixed;
}
nav ul{
	float: right;
}
nav ul li{
	list-style-type: none;
	display: inline-block;  
	line-height: 80px;
}
nav ul li a{
	text-decoration: none;
	color:white;
	padding: 30px;
}
p{
	color:red;
	float: left;
	padding: 30px;
}
nav ul li a:hover{
	background-color: pink;
	color: red;
	border-radius: 23px;
}
.mid{
	margin: 200px 90px;
}
h1 ,h3{
	color:white;
	word-spacing: 10px;
	
}
.footer{
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	padding-top:90px;
	padding-left:600px; 
}
.middle{
	width: 100%;
	height:220px;
	background-color:crimson;
}
.middle h2 {
	padding-top: 56px;
	padding-left: 400px;
}
button{
	background-color: black;
	color: white;
	height: 30px;
	width: 60px;
}
input{
	height: 30px;
	width: 500px;
}
.video{
	width: 100%;
}
.video a{
	text-decoration: none;
	border: 2px solid indigo; 
}
.video a:hover{
	background-color:cyan;
	color: deeppink;
}
.you{
	width: 100%;
	height: 180px;
}
.left img{
	border-radius: 50%;
	margin-left: 231px;
	margin-top: 20px;
}
.left{
	float: left;
	width: 50%;
	height: 80px;
}
.right{
	height: 80px;
	width: 50%;
	float: right;
}
.end{
	width: 100%;
	height: 50px;
	background-color: khaki;
}
.abhi h2{
	margin-top: 12px;
	
}
 .abhi h2:hover{
background-color: red;
color: cyan;
}
